{% extends "layout.html" %}
 
{% block title %} 
HomePage 
{% endblock %} 

{% block content %}
<h1 class="bg-purple-500 text-3xl">Chai aur code | HomePage</h1>
<p class="text-center w-20 bg-orange-400">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
{% endblock %}


{% comment %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Chai's Django Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>Welcome to Chai's Django Project</h1>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html> {% endcomment %}
